.wrapper {
  margin-top: 450px;
  background-color: #8fe1ef;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.wrapper div {
  margin: 10px;
}

.wrapper button {
  margin-top: 1rem;
}

.data-form-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  color: #03045e;
}

.title {
  grid-column-end: span 2;
  text-align: center;
  font-size: 25px;
  color: #03045e;
  margin-top: 20px;
}

.invalid-message {
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: blue;
}
