a{
  text-decoration: none;
}

.pagination {
  color: white;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding-left: 0;
  padding-right: 5px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 20px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.pagination .page-num:hover {
  background-color:#641220;
  color: rgb(17, 16, 16);
}

.pagination .active {
  background-color: #85182a;
}

.pag-select {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap:50px
}

.spinner {
  position: relative;
}


.css-wmy1p7-ReactDropdownSelect{
  color: red;
}

.css-wmy1p7-ReactDropdownSelect:hover{
  color: red !important;
}

.search-wrapper{
  width: 100%;
  height: 100px;
  margin-top: 50px;
  /* background-color: aqua; */
  position: relative;
}

.search-box{
  position: absolute;
  top: 50%;
  margin-top: -25px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
