.container {
  display: grid;
  grid-template-columns: 0.5fr 1.2fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". .";
  position: relative;
}

.search-container {
  position: relative;
}

a {
  text-decoration: none;
}

.pagination {
  color: white;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding-left: 0;
  padding-right: 5px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 20px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.pagination .page-num:hover {
  background-color: #00b4d8;
  color: rgb(17, 16, 16);
}

.pagination .active {
  background-color: #48cae4;
}

.pag-select {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 50px;
}

.spinner {
  position: relative;
}

.search-wrapper {
  width: 100%;
  height: 100px;
  margin-top: 50px;
  position: relative;
}

.search-box {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.no-result {
  font-size: 36px;
  text-align: center;
}

.search-message {
  background-color: rgb(138, 45, 45);
  color: white;
  width: 50%;
  margin: 80px;
}
