.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
  
  .wrapper div{
      margin: 1rem;   
  }
  
  .wrapper button{
      grid-column-end: span 2;
      margin-top: 1rem;
  }
  
  .data-form-input{
      display: flex;
      flex-direction: column;
      gap: 1rem;
  }

  label{
    color: #03045E;
  }

  .title{
    grid-column-end: span 2;
    margin-top: 3rem;
    text-align: center;
    font-size: 25px;
    color: #03045E;
  }