.container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.search-container{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}