@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Roboto:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Open+Sans:wght@300&family=Roboto:ital,wght@1,300;1,400&display=swap');
.background-image{
    background-image: 
    url(
  "../../assets/cinema.jpg");
 
    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.background-image h1{
justify-content: center;
font-family: 'DynaPuff', cursive;
position: absolute;
left: 100px;
right: 50%;
top:400px;
bottom: 50%;
line-height: 2rem;
margin-bottom: 20px;
}

.background-image p{
  font-size: 20px;
  font-family: 'DynaPuff', cursive;
  line-height: 2rem;
  justify-content: center;
position: absolute;
left: 100px;
right: 50%;
top:450px;
bottom: 50%;
margin-top: 50px;
}