.poster-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 30px;
  margin: 20px;
  margin-top: 45px;
  padding-top: 30px;
}

.pagination {
  color: black;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding-left: 0;
  padding-right: 5px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 20px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.pagination .page-num:hover {
  background-color: #555;
  color: rgb(17, 16, 16);
}

.pagination .active {
  background-color: rgb(58, 57, 56);
}

.css-wmy1p7-ReactDropdownSelect {
  border: 2px solid rgb(133, 133, 133) !important;
  background-color: rgb(207, 196, 196);
  font-size: 28px;
  max-width: 30%;
}

.css-wmy1p7-ReactDropdownSelect:hover,
.css-wmy1p7-ReactDropdownSelect:active {
  border-color: rgb(46, 48, 44) !important;
}

.css-1bep9yo-InputComponent {
  background-color: red;
}

input {
  color: red !important;
}

.css-jznujr-ContentComponent {
  color: rgb(88, 88, 88);
}

.css-z2hyoe-ItemComponent.react-dropdown-select-item-selected {
  background: rgb(97, 97, 97) !important ;
  color: rgb(255, 255, 255);
}
