.poster-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 30px;
  margin: 20px;
  margin-top: 45px;
  padding-top: 30px;
}

.pagination {
  color: black;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding-left: 0;
  padding-right: 5px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 20px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.pagination .page-num:hover {
  background-color: #555;
  color: rgb(17, 16, 16);
}

.pagination .active {
  background-color: rgb(58, 57, 56);
}


.pag-select{
  display: flex;
  justify-content: center;
  align-items: baseline;
}