.crew-wrapper {
  margin-top: 80px;
  padding: 30px;
  top: 0;
  background-color: #0077b6;
}

.crew-search-wrapper {
  margin-bottom: 50px;
  padding: 30px;
  border-bottom: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}


