@import "../../assets/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&display=swap');

.card-item {
  background: $secondary-color;
  cursor: pointer;
  transition: all 0.3s;

  a {
    text-decoration: none;
  }

  &:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }
}

.card-top {
  height: 300px;

  img {
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
  }
}

.card-bottom {
  padding: 20px;
}
.card-info {
  color: $font-primary;
  font-family: 'Roboto', sans-serif;
  h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
  }

}

.card-detail{
  display: flex;

  p{
    color: red;
  }
}