

.search-wrapper {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 gap: 50px;
 align-items: center;
 margin-top: 50px;
 position: absolute;
 top: 50%;
 margin-top: -25px;
}

.search-box {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
