@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&display=swap");

.card-item {
  background-color: #0c0b0b;
  cursor: pointer;
  transition: all 0.3s;
  width: 250px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  height: 650px;
  box-shadow: 0px -3px 19px 5px rgba(228, 0, 30, 0.77);
  border-radius: 2rem;
  position: relative;
  a {
    text-decoration: none;
  }

  &:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }
}

.card-top {
  height: 300px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border-bottom-right-radius: 0;
  }
}

.card-bottom {
  padding: 20px;
}
.card-info {
  color: rgb(255, 255, 255);
  line-height: 2rem;
  h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
  }

  p {
    font-family: "Roboto", sans-serif;
  }
}

.card-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
 gap:50px
}
